body {
  background: linear-gradient(to right, orange, red);
  font-family: monospace;
}

nav {
  padding: 10px;
  background-color: #F7BEC0;
  color: #333;
  font-family: monospace;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

section {
  background-color: #F5F5DC;
  padding: 2rem;
}

h1, h2, h3, p, ul, li, ol {
  text-align: center;
  color: #111;
}

a {
  color: #333;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

img, iframe {
  display: block;
  margin: 0 auto;
}

.fragrenceNote {
  font-weight: bold;
}
