body {
  background: linear-gradient(to right, orange, red);
  font-family: monospace;
  font-size: 24px; 
}

nav {
  background-color: #F7BEC0;
  color: #333;
  font-family: monospace;
  padding: 15px;
  position: fixed; 
  top: 0;
  left: 0%;
  width: 100%; 
}

nav ul {
  list-style: none;
  text-align: center; 
}

nav li {
  display: inline-block; 
  margin: 0 20px;
}

section:first-child {
  margin-top: 90px; 
}

section {
  background-color: #F5F5DC;
  padding: 22px;
  max-width: 950px; 
  margin: 20px auto; 
  border-radius: 8px;
}

h1, h2, h3, p, ul, li, ol, dt, dd {
  text-align: center;
  color: #111;
  font-size: 1rem; 
}

a {
  color: #333;
  text-decoration: none; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem; 
}

ol li {
  text-align: center;
}

img, iframe {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

img {
  width: 300px;
  height: 300px;
}

iframe {
  width: 700px;
  height: 500px;
}

.fragrenceNote {
  font-weight: bold;
}

.sideBySide {
  display: flex;
}

#map{
  width: 80%;
  height: 500px;
  border-radius: 25px;
  border-color: #FE5F55;
  border-width: thick;
  border-style: dotted;
  margin: 20px;
  margin-top: 200px;
  max-width: 100%;
}

